.ipynb_checkpoints*
analysis.ipynb
B01001.csv
B23006.csv
B23020.csv
B24010.csv
black_pop_by_state.csv
density_by_zipcode.csv
states_to_codes.json
states_to_fips_codes.csv
the-counted.csv
zip2fips.json
parseSASfile.py
